apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: apps

spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        instrumentation.opentelemetry.io/inject-python: "true"

    spec:
      containers:
        - name: backend
          image: dishaparikh98/backend
          ports:
            - containerPort: 8080
          env:
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://otel-gateway.observability.svc.cluster.local:4317"
            - name: OTEL_SERVICE_NAME
              value: "backend"
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: OTEL_METRICS_EXPORTER
              value: "none"

